$bg-primary-color: #eef0e5;
$bg-primary-color-o-less: #eef0e5BA;
$bg-secondary-color: #b6c4b6;
$primary-color: #163020;
$primary-color-o-more: #163020DA;
$primary-color-o-less: #163020BA;
$secondary-color: #304d30;
$secondary-color-o-more: #304d30DA;
$secondary-color-o-less: #304d30BA;
